@font-face {
    font-family: "LeagueSpartan";
    src:
      local("LeagueSpartan"),
      url("../font/LeagueSpartan/static/LeagueSpartan-Bold.ttf")
  }
body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'LeagueSpartan';
    overflow-x: hidden;
    width:100vw;
    max-width:100vw;
    }

img{
border-radius: 2%
}